// 针对文字的属性做统一管理 font
$operationFontColor: #4CB5B6;
$baseFontColor: #5B5B5B;
$strongFontColor: #42444C;
$iconFontColor: #C3CACF;

$font12: 12px;
$font14: 14px;
$font20: 20px;

// border
$baseBorderColor: #E6E6E6;
